<!doctype html>
<html ng-app="dateJar">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.6/angular.js"></script>
    <script src="https://cdn.firebase.com/js/client/1.0.15/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" type="text/css" href="app.css">
</head>
<body ng-controller="DateController as ctrl">
<h1>Date Jar</h1>
Add a new date:
<input type="text" ng-model="newDateText">
<button ng-click="ctrl.addADate(newDateText)" ng-disabled="!newDateText">Add</button>

<div class="dates">
    <div ng-repeat="date in dates | orderByPriority | orderBy:['-done', 'title']" class="date">
        <input type="checkbox" ng-model="date.done" ng-change="ctrl.updateDate(date)"/>
        <span class="title"> {{date.title}} </span>
        [
        <a href="" ng-click="ctrl.removeDate(date)">X</a>
        ]
    </div>
</div>
</body>
</html>